{
  "extends": "airbnb",
  "plugins": [
    "import"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true,
      "classes": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "always",
        "jsx": "always"
      }
    ],
    "import/no-unresolved": [
      "error",
      {
        "ignore": [
          "^react$",
          "^react-native$"
        ]
      }
    ]
  }
}